.MuiTypography-title-44{
    font-weight: 600 !important;
    font-size: 15px !important;
}
.MuiAppBar-colorPrimary-7{
    background-color: #383838 !important;
}
@media (min-width: 600px){
    .MuiToolbar-root-36{
        min-height: 55px !important;
    }
}