body {
    margin: 0 auto
}
.body_margin{
    margin-top: 55px
}
.MuiTypography-subheading-46{
    font-size: 13px !important;
}
.buttonFont{
    font-size: 13px;
}
.buttonPosition{
    float: right;
}
.table_margin{
    margin-top: 15px;
}
.form_margin{
    margin-top: 20px;
}
.MuiButton-mini-230{
    height: 30px !important;
    width: 34px !important;
    margin: 0px 2px 0px 2px !important;
}
.MuiIconButton-root-63{
    height: 35px !important;
    width: 35px !important;
}
.Routing-content-125{
    background-color: #ffffff !important;
}
.form-padding{
    padding-left: 0px !important;
}
.form-margin{
    margin-top: 15px;
}
.account_setup{
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.08);
    padding-bottom: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; 
}